.header-list
  .header--bar
    .header-bar-name
      Carve life
    .header-logout-btn
      .logout-icon
        = icon('fas', 'sign-out-alt', class: 'out-icon')
      .logout-btn
        = link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'logout-btn'
  .header-left
    .talk-btn-menber
      .setting-btn 
        = icon('fas', 'user', class: 'user-icon')
      .name
        = link_to edit_user_path(current_user), class: "name-btn" do
          = current_user.name
      
    .contents-list
      .pict-list
        = icon('fas','book', class: 'pict-icon')
        = link_to new_tweet_path , class: "photo-submission " do
          ブログ
      .pict-tweet
        = icon('fas','book-open', class: 'vlog-icon')
        = link_to tweets_path , class: "photo-submission " do
          ブログ一覧
      .remenber-pict-new
        = icon('fas','image', class: 'pict-icon')
        = link_to new_pict_path , class: "photo-submission " do
          写真投稿
      .remenber-pict
        = icon('fas','images', class: 'remenber-icon')
        = link_to picts_path , class: "photo-submission " do
          写真一覧
      .remenber-pict
        = icon('fas','user-friends', class: 'remenber-icon')
        = link_to new_group_path , class: "photo-submission " do
          グループ作成
      .talk-content
        %ul.group__list-name-you
          = icon('fas','sms', class: 'comment-icon')
          = link_to "#", class: "group" do
            グループ
          - current_user.groups.each do |group|
            .group-name
              = link_to group_messages_path(group) do
                %li.group-name-name
                  = group.name 

  .header-right
    .calender-name
    .calender-main
      #calendar
        = icon('fas','calendar-alt', class: 'events-icon')
        = link_to "イベント作成", events_path(@events),class: "event-btn"

      