.wrapper
  .header-bar
    .header-bar-name
      Carve life
    .header-logout-btn-lists
      .header-logout-top
        .logout-top-icon-btn
          = icon('fas', 'sign-out-alt', class: 'top-logout-icon')
        .logout-btn-btn
          = link_to "マイページ", user_path(current_user.id) ,class: 'my-page'
      .header-top-page
        .top-icon
          = icon('fas', 'sign-out-alt', class: 'toppage-icon')
        .top-btn
          = link_to root_path , class: "talk-btn-list" do
            トップページ
  .tweet-contents 
    - @tweets.each do |tweet|
      .contents-post-list 
        .contents-posts
          .tweet-text-title1
            タイトル
          .tweet-text1
            = simple_format(tweet.title)
          .tweet-text-title2
            内容
          .tweet-text2
            = simple_format(tweet.text)
    .page
      = paginate @tweets
      