.wrapper
  .header-bar
    .header-bar-name
      My blog
    .header-logout-btn-lists
      .header-logout-top
        .logout-top-icon-btn
          = icon('fas', 'sign-out-alt', class: 'blog-user-icon')
        .blog-you-name
          = link_to new_tweet_path , class: "talk-btn-list" do
            ブログ投稿
      .header-top-page
        .top-icon
          = icon('fas', 'sign-out-alt', class: 'toppage-icon')
        .top-btn
          = link_to root_path , class: "talk-btn-list" do
            トップページ
  .tweet-contents 
    - @tweet.each do |tweet|
      .contents-post-list 
        .contents-posts
          .tweet-text-title1
            タイトル
          .tweet-text1
            = simple_format(tweet.title)
          .tweet-text-title2
            内容
          .tweet-text2
            = simple_format(tweet.text)
    .page
      = paginate @tweet
      