.events
  %h1 イベント表

  %table
    %thead
      %tr
        %th タイトル
        %th 内容
        %th
        %th

    %tbody
      - @events.each do |event|
        %tr
          %td= event.title
          %td= event.description
          %td= link_to '予定', event,class:"events-btn-list"
          %td= link_to '編集', edit_event_path(event),class:"events-btn-list"
          %td= link_to '削除', event, method: :delete, data: { confirm: 'Are you sure?' },class:"events-btn-list"

  %br

  = link_to 'イベント作成', new_event_path,class: "new-events"
  = link_to root_path , class: "new-events" do
    トップページ
